# Creating Visualization Prototypes

> Creating the visualization prototypes for our observations

In [ ]:
import altair as alt
import pandas as pd
import numpy as np

from dataviz_course.explore_data import prepare_dataset

In [ ]:
data = prepare_dataset()
data.head()

,Work Year,Experience Level,Job Title,Salary (usd),Employee Residence,Company Location,On-site/Remote,Number of Employees,Working for a Foreign Company
0,2020,Mid-level / Intermediate,Data Scientist,79833,DE,DE,On-site,>250,True
1,2020,Senior-level / Expert,Machine Learning Scientist,260000,JP,JP,On-site,<50,True
2,2020,Senior-level / Expert,Big Data Engineer,109024,GB,GB,Hybrid,50-250,True
3,2020,Mid-level / Intermediate,Product Data Analyst,20000,HN,HN,On-site,<50,True
4,2020,Senior-level / Expert,Machine Learning Engineer,150000,US,US,Hybrid,>250,True